// COMPILE SASS TO CSS BY TYPING IN THE TERMINAL : sass --watch src/css/main.scss:src/css/main.css 
// ==================================================================== 

/* COLORS */

$gray-lighter: #a7a7a7;
$gray-darker: #3f4040;
$gray-greenish: #BAC6C0;

/* BASE */

body {
    background-color: #b8b8b8;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

/* LAYOUT */

.calculator-body {
    width: 500px;
    height: 550px;
}

.calculator-body .btn {
    width: 80px;
    height: 50px;
    font-size: 18px;
    color:white;
    text-align:center;
}

main>div {
    overflow-x: scroll;
}

@font-face {
    font-family: calculatorFont;
    src: url("../../fonts/calculatorFont/digital-7.ttf");
}

.calculator-display {
    font-family: calculatorFont;
    font-size: 50px;
    line-height: 1;
    text-align: right;
    background-color: $gray-greenish;
    border: 2px solid gray;
    border-radius: 5px;
    div:first-child {
        color: $gray-darker;
        min-height: 50px;
    }
}

.calculator-display span:not(:first-child) {
    border-left: 1px solid gray;
    height: 25px;
}

/* FLEX TRICKS */

.flexed-1 {
    flex:1;
}
.flexed-2 {
    flex:2;
}
.flexed-3 {
    flex:3;
}
.flexed-4 {
    flex:4;
}

/* BORDERS & SHADOWS */

.calculator-borders {
    border: solid 3px $gray-lighter;
    border-radius: 5px;
    box-shadow: 5px 5px 20px $gray-darker,
                5px 5px 20px black;
}

/* BUTTONS */

.keybord-number .btn {
    background-color: $gray-lighter;
}
.keybord-operations .btn {
    background-color: $gray-darker; 
}

.btn {
    box-shadow: 0px 3px 3px black;
}
.btn:focus {
    box-shadow: 0px 3px 3px black; // For some reason, this property removes the blue outline or border when btn is focused
}

.btn-sci {
    background-color: #82679e;
}

/* BTN 3D EFFECT */

.btn:active {
    transition: 0s;
    position: relative;
    top:3px;
    box-shadow: 0px 0px 0px black;
}

/* FUNNY FONT */

.signatureLuka {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

// MALO SE POIGRATI SA BOX-SHADOW-om 
// ISPROBATI KAKO DA SE DUGMAD, NAKON STO SU KLIKNUTA, VRATE NAZAD NA POLOZAJ POLAKO, ALI DA SHADOW BUDE ODMAH TU, DA NEMA SHADOW TRANSITION-a
// ISPROBATI DA DUGMAD NEMAJU SA STRANA (X OSA) SHADOW, AL ZATO DA IMAJU NEKI MALO SVJETLIJI SHADOW, NEKI INSET ILI NESTO U SVOM DONJEM DIJELU
// ISPROBATI NEKI TRANSITION NA DISPLAYU, DA SE BROJEVI MALO ELEGANTNIJE POJAVLJUJU
// TREBALO BI DA NADJEM NACIN DA SVI .MAP FAJLOVI BUDU U .GITIGNORE (KAO OVAJ MAIN.CSS.MAP) ?
