// COMPILE SASS TO CSS BY TYPING IN THE TERMINAL : sass --watch src/css/main.scss:src/css/main.css 
// ==================================================================== 

/* BASE */

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

/* LAYOUTS */

.calculator-body {
    width: 500px;
    height: 550px;
}

.calculator-body .btn {
    width: 80px;
    height: 50px;
    font-size: 18px;
    color:white; // DA VIDIMO OCE LI OVO RADIT
}

main>div {
    overflow-x: scroll;
}

@font-face {
    font-family: calculatorFont;
    src: url("../../fonts/calculatorFont/digital-7.ttf");
}

.calculator-display {
    font-family: calculatorFont;
    font-size: 30px;
    background-color: #BAC6C0;
}

.calculator-display span {
    border-left: 1px solid gray;
    height: 25px;
}

/* FLEX TRICKS */

.flexed-1 {
    flex:1;
}
.flexed-2 {
    flex:2;
}
.flexed-3 {
    flex:3;
}
.flexed-4 {
    flex:4;
}

/* BORDERS & SHADOWS */

.calculator-borders {
    border: solid 3px rgb(221, 221, 221);
    border-radius: 5px;
    box-shadow: 5px 5px 20px #7D807F,5px 5px 20px black;
}

/* BUTTONS */

.keybord-number .btn {
    background-color: rgb(221, 221, 221);
}
.keybord-operations .btn {
    background-color: #7D807F; 
}

.btn {
    box-shadow: 0px 3px 3px black;
}
.btn:focus {
    box-shadow: 0px 3px 3px black;
}

/* BTN 3D EFFECT */

.btn:active {
    transition: 0s;
    position: relative;
    top:3px;
    box-shadow: 0px 0px 0px black;
}

/* FUNNY FONT */

.signatureLuka {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

// TREBALO BI DA NADJEM NACIN DA SVI .MAP FAJLOVI BUDU U .GITIGNORE (KAO OVAJ MAIN.CSS.MAP) ?
